<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdzs6dM_6yO_SC3_aBj0L3RYZSXpXbOJA</string>
	<key>GCM_SENDER_ID</key>
	<string>675552575914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turbo.turbo</string>
	<key>PROJECT_ID</key>
	<string>turbo-app-53a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>turbo-app-53a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675552575914:ios:792b150e013737097e2bd3</string>
	<key>DATABASE_URL</key>
	<string>https://turbo-app-53a6a-default-rtdb.firebaseio.com</string>
</dict>
</plist>